.tableheading {
	font-size: 15px;
	font-weight: bold;
}

label {
	font-weight: 500;
	margin-bottom: 1px;
}

.form-control {
	height: 25px;
	font-size: 14px;
}

tbody {
	font-size: 12.9px;
}

.table td, .table th {
	vertical-align: top;
	border-top: 1px solid #dee2e6;
	padding: 5px 5px 0px 1.5rem;
}

.serialNoheading {
	width: 60px !important;
}

.particularheading {
	width: 500px;
}

.remarkstheading {
	width: 500px;
}

.valueheading {
	width: 90px !important;
}

.sumheading {
	width: 90px !important;
}

.qualifierheading {
	width: 60px !important;
}

.tooltip.show p {
	text-align: left;
}

/* //Girdhar Supyal */

custom-file-input {
	height: 25px;
	font-size: 14px;
}

.custom-file {
	height: 25px;
	font-size: 14px;
	padding-bottom: 35px;
	font-size: 14px;
}

.custom-file-label::after {
	height: auto !important;
}

.custom-file-label {
	padding-bottom: 23px;
	height: 25px;
	font-size: 14px;
}

.tableheading {
	font-size: 15px;
	font-weight: bold;
}

label {
	font-weight: 500;
	margin-bottom: 1px;
}

.form-control {
	height: 25px;
	font-size: 14px;
}

tbody {
	font-size: 12.9px;
}

.table td, .table th {
	vertical-align: top;
	border-top: 1px solid #dee2e6;
	padding: 5px 5px 0px 1.5rem;
}

.observedScoreheading {
	width: 60px !important;
}

.serialNoheading {
	width: 60px !important;
}

.documentheading {
	width: 500px;
}

.attachmentheading {
	width: 500px;
}

.helpheading {
	width: 60px !important;
}

.tooltip.show p {
	text-align: left;
}

.tableheading1 {
	width: 20%;
}

.tableheading2 {
	width: 20%;
}

.tableheading3 {
	width: 20%;
}

  /* changing select2 color  */
 .select2-container--default .select2-purple .select2-selection--multiple .select2-selection__choice, .select2-purple .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #006fe6;
    border-color: #006fe6;
    color: #fff;
}
.select2-container--default .select2-purple .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-purple .select2-results__option--highlighted[aria-selected]:hover, .select2-purple .select2-container--default .select2-results__option--highlighted[aria-selected], .select2-purple .select2-container--default .select2-results__option--highlighted[aria-selected]:hover {
    background-color: #006fe6;
    color: #fff;
}

/* for select2 height */
.select2-container .select2-selection--single {
    height: 28px !important;
    
}
/* for select2  inner letter height */
.select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
    line-height: 24px;
}

